#surah-num {
    font-family: 'Inconsolata';
    font-size: 24px;
}

#surah-engname {
    font-family: 'Inconsolata';
    font-size: 11px;
}

#surah-arabname {
    font-family: 'Inconsolata';
    font-size: 11px;
}